.product {
  &__images {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
  }

  &__image {
    @include background-image();
    height: 100%;
  }

  &__content {
    margin-left: 40%;
    padding: 4em;
  }
}