.product {
  &__logo {
    padding: 4em 0;
    max-width: 440px;
    margin: 0 auto;
  }

  &__images {
    max-width: 500px;
    margin: 0 auto;
    z-index: 5;
  }

  &__content-wrapper {
    @include row();
  }

  &__content {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12em;
  }

  &__contact {
    position: relative;
    z-index: 100;
  }
}