@mixin bottom-line() {
  margin-bottom: 0;

  &:after {
    content: '';
    background-color: $color-fg-bold;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
  }
}
