@mixin button {
	@include clear-link();
	appearance: none;
	transition: 
		background-color $duration-transition ease-in-out,
		border-color $duration-transition ease-in-out,
		color $duration-transition ease-in-out;
	background-color: transparent;
	border-radius: 0;
	border: 2px solid $color-fg-bold;
	color: $color-fg-bold;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-weight: $font-weight-bold;
	letter-spacing: $font-letter-spacing-alt;
	padding: 0.9em 1.75em 1em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;

	&:hover, &:active {
		border-color: $color-highlight;
		color: $color-highlight;
	}

	&:active {
		background-color: transparentize($color-highlight, 0.9);
		border-color: desaturate(darken($color-highlight, 15), 5);
		color: desaturate(darken($color-highlight, 15), 5);
	}

	&.disabled,
	&:disabled {
		pointer-events: none;
		cursor: default;
		opacity: 0.25;
	}
}