@mixin padding($tb, $lr, $pad: (0,0,0,0), $important: null) {
	@if $important {
		$important: '!important';
	}

	$x: 0.1em;

	@if unit($size-element-margin) == 'rem' {
		$x: 0.1rem;
	}

	padding: ($tb + nth($pad,1)) ($lr + nth($pad,2)) max($x, $tb - $size-element-margin + nth($pad,3)) ($lr + nth($pad,4)) #{$important};
}