@mixin spotlights() {
	> * {
		display: flex;
		flex-direction: row;
		background-color: desaturate(lighten($color-bg-alt, 2), 1);

		&:nth-child(2n) {
			background-color: desaturate(lighten($color-bg-alt, 4), 2);
		}
	}
}