.contact {
	border-bottom: solid 1px $color-border;
	display: flex;
	flex-direction: column;

	@include breakpoint($breakpoint-new-medium) {
		flex-direction: row;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2em;
		border-right: solid 1px $color-border;
		flex: 6;
	}

	&__title {
		@include bottom-line();
	}

	&__text {
		margin-bottom: 0;
	}

	&__data {
		flex: 4;
	}

	&__data-item {
		padding: 3em;
		border-top: solid 1px $color-border;

		@include breakpoint($breakpoint-new-medium) {
			&:first-of-type {
				border-top: none;
			}
		}
	}

	&__method {
		padding-left: 3.25em;
		position: relative;
	}

	&__method-icon {
		left: 0;
		position: absolute;
		top: 0;
	}

	&__method-content {
		margin: 0;
	}
}