.contact {
	border-bottom: solid 1px $color-border;
	border-top: solid 1px $color-border;
	overflow: hidden;
	background-color: rgba($color-bg, 0.8);
	
	&__container {
		@include container();
		@include row();

		display: flex;
		flex-direction: column;
		align-items: center;

		@include breakpoint($breakpoint-container) {
			flex-direction: row;
			align-items: stretch;
		}
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		flex: 6;
		max-width: 500px;
		width: 100%;
		padding: 2em 0;

		@include breakpoint($breakpoint-container) {			
			max-width: none;
			padding: 2em 2em 2em 0;
			border-right: solid 1px $color-border;
		}
	}

	&__title {
		@include bottom-line();
	}

	&__text {
		margin-bottom: 0;
	}

	&__data {
		flex: 4;
		width: 100%;
		max-width: 500px;;
	}

	&__data-item {
		position: relative;
		padding: 3em 0;


		&:before {
			content: '';
			display: block;
			border-top: solid 1px $color-border;
			position: absolute;
			width: 10000px;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);

			@include breakpoint($breakpoint-container) {
				left: 0;
				transform: none;
			}
		}

		@include breakpoint($breakpoint-container) {
			padding: 3em;

			&:first-of-type {
				&:before {
					border-top: none;
				}
			}
		}
	}

	&__method {
		padding-left: 3.25em;
		position: relative;
	}

	&__method-icon {
		@include icon();
		left: 0;
		position: absolute;
		top: 0;
	}

	&__method-content {
		margin: 0;
	}
}