.footer {
  background-color: rgba($color-bg, 0.8);

  &__container {
    @include container();
    @include row();
  }
  
  &__wrapper {
    max-width: 500px;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($breakpoint-container) {
      max-width: none;
    }
  }
}