.product-item {
  position: relative;
  background-color: desaturate(lighten($color-bg-alt, 2), 1);

  &:nth-of-type(2n) {
    background-color: desaturate(lighten($color-bg-alt, 4), 2);
  }

  &__container {
    @include container();
    padding: 0 0 2em 0;
    @include breakpoint($breakpoint-container) {
      display: flex;
      padding: 2em 0;
    }
  }

  &__img-link {
    @include clear-link();
    display: block;
    flex: 1;
    max-width: 500px;
    margin: 0 auto;

    @include breakpoint($breakpoint-container) {
      margin-right: 2em;
      max-width: 300px;
    }
  }

  &__content-wrapper {
    @include row();
    margin-top: 1.6em;
    flex: 1;

    @include breakpoint($breakpoint-container) {
      margin-top: 0;
    }
  }

  &__content {
    max-width: 500px;
    margin: 0 auto;

    @include breakpoint($breakpoint-container) {
      max-width: none;
      margin: 0 auto;
    }    
  }

  &__title {
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }

  &__button {
    @include button();
    width: 100%;
    margin: 1em 0;

    @include breakpoint($breakpoint-container) {
      width: auto;
      margin: 1em 1em 1em 0;
    }
  }
}