$color-bg:	#242943;
$color-bg-alt: #2a2f4a;
$color-fg:	#ffffff;
$color-fg-bold: #ffffff;
$color-fg-light: rgba(244,244,255,0.2);
$color-border: rgba(212,212,255,0.1);
$color-border-bg: rgba(212,212,255,0.035);
$color-highlight: #9bf1ff;
$color-accent1: #6fc3df;
$color-accent2: #8d82c4;
$color-accent3: #ec8d81;
$color-accent4: #e7b788;
$color-accent5: #8ea9e8;
$color-accent6: #87c5a4;
