$font-family:	('Source Sans Pro', Helvetica, sans-serif);
$font-family-fixed:	('Courier New', monospace);
$font-weight: 300;
$font-weight-bold: 600;
$font-letter-spacing:	0.025em;
$font-letter-spacing-alt:	0.25e;
